<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsyw.routerdemo.module_chat">

    <application>
        <activity android:name="com.nsyw.routerdemo.module_chat.ChatTwoActivity"></activity>
        <activity android:name="com.nsyw.routerdemo.module_chat.ChatOneActivity" />
    </application>

</manifest>